appdirs==1.4.4
asgiref==3.3.4
attrs==21.2.0
autopep8==1.5.7
certifi==2021.5.30
cfgv==3.3.0
chardet==4.0.0
click==8.0.1
distlib==0.3.2
fastapi==0.65.1
filelock==3.0.12
flake8==3.9.2
h11==0.12.0
httptools==0.2.0
identify==2.2.9
idna==2.10
iniconfig==1.1.1
Jinja2==3.0.1
MarkupSafe==2.0.1
mccabe==0.6.1
nodeenv==1.6.0
packaging==20.9
pluggy==0.13.1
pre-commit==2.13.0
py==1.10.0
pycodestyle==2.7.0
pydantic==1.8.2
pyflakes==2.3.1
pyparsing==2.4.7
pytest==6.2.4
python-dotenv==0.17.1
PyYAML==5.4.1
requests==2.25.1
six==1.16.0
starlette==0.14.2
toml==0.10.2
typing-extensions==3.10.0.0
urllib3==1.26.5
uvicorn==0.14.0
uvloop==0.15.2
virtualenv==20.4.7
watchgod==0.7
websockets==9.1
